{%- if echodata.converted_raw_path -%}
{%- set file_path = echodata.converted_raw_path -%}
{%- else -%}
{%- set file_path = "Internal Memory" -%}
{%- endif -%}
<div>
    <div class='xr-header'>
        <div class="xr-obj-type">EchoData: standardized raw data from {{file_path}}</div>
    </div>
    <ul class="xr-sections group-sections">
        <li class="xr-section-list">
            {%-set node_key = 'root'|make_key -%}
            <input id="idata_{{node_key|hash_value}}" class="xr-section-summary-in" type="checkbox">
            <label for="idata_{{node_key|hash_value}}" class="xr-section-summary">{{ echodata._tree|node_repr }}</label>
            <div class="xr-section-inline-details"></div>
            <div class="xr-section-details">
                <ul id="xr-dataset-coord-list" class="xr-var-list">
                    <div style="padding-left:2rem;">{{echodata._tree.ds|html_repr}}<br></div>
                </ul>
            </div>
        </li>
        <ul>
            {%- for node in echodata._tree.children.values() recursive -%}
                {%- if node.has_data or node.has_attrs -%}
                <li class="xr-section-list">
                    {%-set node_key = node.name|make_key -%}
                    <input id="idata_{{node_key|hash_value}}" class="xr-section-summary-in" type="checkbox">
                    <label for="idata_{{node_key|hash_value}}" class="xr-section-summary">{{ node|node_repr }}</label>
                    <div class="xr-section-inline-details"></div>
                    <div class="xr-section-details">
                        <ul id="xr-dataset-coord-list" class="xr-var-list">
                            <div style="padding-left:2rem;">{{node.ds|html_repr}}<br></div>
                        </ul>
                    </div>
                </li>
                {%- endif -%}
                {%- if node.children.values() -%}
                    <ul>{{ loop(node.children.values()) }}</ul>
                {%- endif %}
            {%- endfor -%}
        </ul>
    </ul>
</div>
{%- include 'style.html.j2' -%}
