.idea/
.DS_Store
.ipynb_checkpoints/
__pycache__/
.pytest_cache/
.gitignore~
*.h5
*.bot
*.idx
*.png
*.tex
*~
*.egg-info/
.tox/
.vscode/
dist/
build/
docs/build/
docs/source/api
profile.html
dask-worker-space/
toolbox
*.nc
azfp_data/
notebooks/*.raw
D20170912-T234910.raw
