.idea/
.DS_Store
.ipynb_checkpoints/
__pycache__/
.pytest_cache/
.gitignore~
*~
*.egg-info/
.eggs
.tox/
.vscode/
dist/
build/
_build/
docs/build/
docs/source/api
profile.html
dask-worker-space/
toolbox
*.nc
!*.base.nc
!*.ad2cp.nc
*.raw
*.csv
*.01A
*.zarr
*.xml
*.ad2cp
*.mat
ek60/
azfp/
notebooks/*_dev/
_echopype_version.py
!echopype/test_data
echopype/test_data/*
!echopype/test_data/README.md
