.idea/
.DS_Store
.ipynb_checkpoints/
__pycache__/
.pytest_cache/
.gitignore~
*~
*.egg-info/
.tox/
.vscode/
dist/
build/
docs/build/
docs/source/api
profile.html
dask-worker-space/
toolbox
*.nc
*.raw
*.csv
*.01A
*.zarr
*.xml
ek60/
azfp/
temp_echopype_output/
