exclude: |
  (?x)^(
    echopype/tests/|
    echopype/test_data/|
    echopype/visualize/|
    docs/source/conf.py
  )
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: check-json
      - id: check-yaml
      - id: pretty-format-json
        args: ["--autofix", "--indent=2", "--no-sort-keys"]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8

  - repo: https://github.com/executablebooks/jupyter-book
    rev: v0.12.3
    hooks:
    - id: jb-to-sphinx
      args: ["docs/source"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        # Checks spelling in docs/source and echopype dirs ONLY
        # Ignores ipynb and _build folders
        args: ["--skip=*.ipynb,docs/source/_build", "-w", "docs/source", "echopype"]
