prune .github
prune docs
prune .ci_helpers
exclude .coveragerc
exclude .gitignore
exclude .mailmap
exclude *.ini
exclude *.yaml
exclude *.yml
exclude *.json
include *.txt

# Ignore testing files and data
prune echopype/test_data
prune echopype/tests
exclude echopype/testing.py
exclude .gitattributes

# Ignore some unfinished scripts
prune echopype/visualize
exclude **/add_ancillary.py
exclude **/convert_combine.py
