prune .github*
prune .ci_helpers
prune notebooks*
prune echopype/tests*
prune echopype/test_data*
exclude .coveragerc
exclude .gitignore
exclude .mailmap
exclude *.ini
exclude *.yaml
exclude *.yml
exclude *.json
include *.txt
