aiohttp
bottleneck
dask[array,distributed]
dask-image
flox>=0.7.2,<1.0.0
fsspec
geopy
jinja2
netCDF4>1.6,<1.7.1
numpy<2
pandas
psutil>=5.9.1
pynmea2
pytz
requests
s3fs
scipy<1.15.2
typing-extensions
xarray>=2024.11.0
zarr>=2,<3
