dask[array,distributed]
jinja2
# https://github.com/Unidata/netcdf4-python/issues/1175#issuecomment-1173142506
netCDF4<1.6
numpy
pynmea2
pytz
scipy
xarray==2022.3.0
zarr
fsspec
s3fs
requests
aiohttp
xarray-datatree==0.0.6
psutil==5.9.1
more-itertools==8.13.0
