dask[array]
netCDF4
numpy
pynmea2
pytz
scipy
xarray
zarr
fsspec
s3fs
# https://github.com/xarray-contrib/datatree/pull/70
xarray-datatree@git+https://github.com/lsetiawan/datatree.git@update_repr#egg=xarray-datatree
