name: Test CI

on:
  push:
    branches:
      - master
      - class-redesign
    paths-ignore: [".ci_helpers/docker/**", "**/docker.yaml"]
  pull_request:
    paths-ignore: [".ci_helpers/docker/**", "**/docker.yaml"]
  workflow_dispatch:

env:
  DOCKER_ORG: cormorack
  CONDA_ENV: echopype
  TAG: "2021.04.06"

jobs:
  test:
    name: ${{ matrix.python-version }}-build
    runs-on: ubuntu-20.04
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        python-version: [3.7, 3.8]
        experimental: [false]
        include:
        - python-version: 3.9
          experimental: true
    services:
      minio:
        image: ${DOCKER_ORG}/minioci:${TAG}
        ports:
          - 9000:9000
      httpserver:
        image: ${DOCKER_ORG}/http:${TAG}
        ports:
          - 8080:80
    steps:
      - uses: actions/checkout@v2
      - name: Copying test data to http server
        run: |
          rm -rf ./echopype/test_data
          docker cp -L ${{ job.services.httpserver.id }}:/usr/local/apache2/htdocs/data ./echopype/test_data

          # Check data endpoint
          curl http://localhost:8080/data/
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Cache conda
        uses: actions/cache@v2
        env:
          # Increase this value to reset cache if .ci_helpers/py${{ matrix.python-version }}.yaml has not changed
          CACHE_NUMBER: 0
        with:
          path: ~/conda_pkgs_dir
          key: ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{ hashFiles('.ci_helpers/py${{ matrix.python-version }}.yaml') }}
      - name: setup miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: ${{ env.CONDA_ENV }}
          environment-file: .ci_helpers/py${{ matrix.python-version }}.yaml
          python-version: ${{ matrix.python-version }}
          auto-activate-base: false
          use-only-tar-bz2: true
      - name: print conda env
        shell: bash -l {0}
        run: |
          conda info
          conda list
      - name: install dev tools
        shell: bash -l {0}
        run: |
          mamba install -c conda-forge --yes --file requirements-dev.txt
      - name: install echopype
        shell: bash -l {0}
        run: |
          python -m pip install -e .
      - name: Running Convert Tests
        shell: bash -l {0}
        run: |
          python -m pytest --log-cli-level=WARNING --verbose echopype/tests/test_convert.py